
@media screen and (min-width: 0px) {
	body {
	width: 100vw;
	height: 100vh;
	background-image: url("food.jpg");
	}
	div {
		width:100%;
		height: 50%;
		background-size: cover;
		background-image: url("banner.jpg");
	}
	nav {
		width: 100%;
		display: inline-block;
		text-align: center;
		font-size: 25px;
	}
	#navbar{
		background-color: #7c7c7c;
		color: #FFFFFF;
		margin-top: 5px;
		width: 100%;

	}
	#navbar ul{
		list-style-type:
		margin-top: 0px;
		padding: 10px;
		background-color: #7c7c7c;
	}
	#navbar li{
		display: block;
		color: #000;
		padding: 8px 16px;
		float: left;
		border: 2px solid black;
	}
	a:link {
		color: #FFFFFF;
	}
	a:hover {
		color: #000000;
	}
	a:active {
		color: #FFFFFF;
	}

	section {
		width: 100%
		margin: auto 10px;
		background-color: #f2e3bc;
	}
}
